<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <title>{% block title %}{% endblock title %}</title>
        {% endblock head %}
    </head>
    <body>
        <header class="container">
            {% block header %}
            {% endblock header %}
        </header>
        <main class="container">
            {% block main %}
            {% endblock main %}
        </main>
        <footer class="container">
            {% block footer %}
            {% endblock footer %}
        </footer>
    </body>
</html>
