{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block head %}
    {{ super() }}
    <script src="/assets/js/login.js"></script>
{% endblock head %}

{% block main %}
<h2 class="text-center">Login</h2>
<form action="/" id="loginForm">
    <div class="input-group">
        <label for="email" class="label">Email</label>
        <input type="email" id="email" class="input">
        <div class="alert" hidden></span>
    </div>
    <br>
    <div class="input-group">
        <label for="password" class="label">Password</label>
        <input type="password" id="password" class="input">
        <div class="alert" hidden></span>
    </div>
    <br>
    <button class="button" type="submit">Login</button>
</form>
{% endblock main %}
