{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock head %}
{% block main %}
<div class="is-center">
    <h1>{{ page_title }} <img src="/assets/favicon/favicon-48x48.png"/></h1>
</div>
<a id="logout" href="/logout" role="button" data-tooltip="Logout">
    <i class="fa-solid fa-right-from-bracket"></i>
</a>
<article>
    <h3 id="general">General</h3>
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Title" value="{{ title }}"></input>
    <label for="url">Url</label>
    <input type="text" name="url" placeholder="Url" value="{{ url }}"></input>
    <label for="port">Port</label>
    <input type="number" name="port" placeholder="6996" value="{{ port }}"></input>
    <label for="salt">Salt</label>
    <input type="text" name="salt" placeholder="salt" value="{{ salt }}"></input>
    <label for="pepper">Pepper</label>
    <input type="text" name="pepper" placeholder="pepper" value="{{ pepper }}"></input>
    <label for="sleep_time">Sleep time</label>
    <input type="number" name="sleep_time" placeholder="1" value="{{ sleep_time }}"></input>
    <label for="per_page">Per page</label>
    <input type="number" name="per_page" placeholder="10" value="{{ per_page }}"></input>
    <label for="jwt_secret">jwt secret</label>
    <input type="text" name="jwt_secret" placeholder="jwt secret" value="{{ jwt_secret }}"></input>
    <label for="jwt_expires_in">jwt expires in</label>
    <input type="text" name="jwt_expires_in" placeholder="jwt expires in" value="{{ jwt_expires_in }}"></input>
    <label for="jwt_maxage">jwt max age</label>
    <input type="number" name="jwt_maxage" placeholder="jwt max age" value="{{ jwt_maxage }}"></input>

    <button role="button" class="save-button" data-tooltip="Save general configuration">
        <i class="fa-solid fa-floppy-disk"></i>
    </button>
</article>

{% endblock main %}
{% block scripts %}
<script src="/assets/js/config.js"></script>
{% endblock scripts %}

