{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}

{% block main %}
<h1>{{ title }}</h1>
<table>
    {% for episode in episodes %}
    <tr>
        <td>{{ episode.title }}</td>
    </tr>
    <tr>
        <td>
            <audio data-role="audio-player"
                   data-src="/media/{{ episode.channel_id }}/{{ episode.yt_id }}.mp3"
                   data-show-loop="true"
                   data-show-stop="true"
                   data-show-volume="true"
                   data-show-info="true">
            </audio>
    </tr>
    {% endfor %}
</table>
{% endblock main %}

