{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}

{% block main %}
<h1>{{ title }}</h1>
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>url</th>
    </tr>
    {% for episode in episodes %}
    <tr>
        <td>
            <audio data-role="audio-player"
                   data-src="{{ episode.feed }}"
                   data-show-loop="false"
                   data-show-stop="false"
                   data-show-volume="false"
                   data-show-info="false">
            </audio>
        <td>id</td>
        <td><a href="{{ channel.url }}">{{ channel.title }}</a></td>
        <td>{{ channel.url }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock main %}

